/* 
color skyblue botton: #47adf1

color skyblue2 badge : #45abea

color purple badge : #9c72e4

color green badge : #64c0a9

color orange badge : #f29e33

color pink badge : #d863a1

color lightgreen badge : #b0c926

red #eb564d
check #51b99f
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f8f9;
}

    /* Header */

.banner, img{
    background-color: white;
    vertical-align: top;
    padding: 3px;
}

h1 {
    display: inline-block;
    font-size:40px;
    background-color: white;
}

          /* Main */

/* Button */
.button {

    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.task {
    background-color: #47adf1;
    color: white;
    border: none;
}

.section {
    color: #cbd1d5;
    border-color: #cbd1d5;
}

.shield {
    font-size: 12px;
    padding: 5px;
}

.check {
    border: 1px solid #51b99f;
    border-radius: 50%;
    background-color: white;
    color: #51b99f;
    margin: 4px 4px;
    padding: 3px;
    font-size: 10px;


}

.cross {
    border: 1px solid #eb564d;
    border-radius: 50%;
    background-color: white;
    color: #eb564d;
    margin: 4px 4px;
    padding: 3px;
    font-size: 10px;

}